<ion-header>
  <ion-toolbar>
    <ion-title>Plan Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <form action="" #formulario>
      <ion-row>
        <ion-col>
          <ion-item id="rounded">
            <ion-label position="stacked" class="ion-padding-bottom">Destino:</ion-label>
            <ion-input type="text" [(ngModel)]="data.destino" required name="destino" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item id="rounded">
            <ion-label position="stacked" class="ion-padding-bottom">Lugar Encuentro:</ion-label>
            <ion-input type="text" [(ngModel)]="data.lugar" required name="lugar" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item id="rounded">
            <ion-label position="stacked" class="ion-padding-bottom">Comuna:</ion-label>
            <ion-input type="text" [(ngModel)]="comuna" required name="comuna" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item id="rounded">
            <ion-label position="stacked" class="ion-padding-bottom">Fecha:</ion-label>
            <ion-input type="date" required name="fecha" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item id="rounded">
            <ion-label position="stacked" class="ion-padding-bottom">Conductor:</ion-label>
            <ion-select placeholder="Seleccione conductor">
              <ion-select-option *ngFor="let chofer of losChoferes" [value]="chofer.id">{{chofer.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-button shape="block" (click)="mostrar()">Enviar</ion-button>
            <ion-button color="secondary" shape="block" [routerLink]="['/home']">Volver a HOME</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>